* {
    margin:0;
    padding:0;
    /* font-family:sans-serif;*/
}
#tooltip{
    position:absolute;
    z-index:999;
    background-color: #fff;
    border-radius:10px;
    border-color:black;
    border-style:solid;
    padding:10px;
    width:300px;
    text-align:center;
    
    box-shadow:5px 5px 10px #000;
/* This is the responsibility of JS */
    /* left:300px;
    top:150px; */
}
#tooltip hr{
    margin:2px;
}
#event-description{
    font-family:Helvetica;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#event-name{
    font-weight: bold;
}
#event-time{
    font-family:Helvetica;
}
#event-nav{
    text-align:center;
    display:flex;
    width:100%;
}
.tooltip-nav-inactive{
    background-color:#888;
    color:#555;
}
#new-event{
    text-align: center;
    width:220px;
    position:absolute;
    z-index:999;
    background-color: #fff;
    border-radius:10px;
    border-color:black;
    border-style:solid;
    padding:10px;
/* This is the responsibility of JS */
    left:30px;
    top:10px;
}
#new-event textarea{
    background-color: whitesmoke;
    color:black;
    resize:none;
    border-style:dashed;
}
#new-event input{
    width:98px;
    margin-bottom:3px;
    background-color: whitesmoke;
    border-color:#555;
    border-style:dashed;
    border-width: 1px;;
    color:black;
}
#new-event textarea{
    resize:none;
    width:200px;
    padding:5px;
}
#new-event button{
    padding:4px;
}
#tooltip button{
    padding:4px;
}
#cancel{
    background-color:rgb(200, 0, 0);
    color:#ffffff;
}
#arrow{
    width:20px;
    height:0px;
    position:relative;
    margin:auto;
    top:-30px;
    font-weight:900;
    font-size:1.5em;
    text-align: center;
}