* {
    margin:0;
    padding:0;
    /* font-family:sans-serif;*/
}
#tooltip{
    position:absolute;
    z-index:999;
    background-color: #fff;
    border-radius:10px;
    border-color:black;
    border-style:solid;
    padding:10px;
    width:300px;
    text-align:center;
/* This is the responsibility of JS */
    /* left:300px;
    top:150px; */
}
#tooltip hr{
    margin:2px;
}
#event-description{
    white-space: pre-wrap;
}
#event-name{
    font-weight: bold;
}
#event-nav{
    text-align:center;
    display:flex;
    width:100%;
}
.tooltip-nav-inactive{
    background-color:#888;
    color:#555;
}
#new-event{
    text-align: center;
    width:200px;
    position:absolute;
    z-index:999;
    background-color: #fff;
    border-radius:10px;
    border-color:black;
    border-style:solid;
    padding:10px;
/* This is the responsibility of JS */
    left:30px;
    top:10px;
}
#new-event textarea{
    resize:none;
    width:190px;
    padding:5px;
}
#new-event button{
    padding:4px;
}
#tooltip button{
    padding:4px;
}
#cancel{
    background-color:rgb(200, 0, 0);
    color:#ffffff;
}