body{
    font-family:'Geaux', 'Archivo Black', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Arial Narrow', Arial, sans-serif;
}
/*---------------------*/
#header{
    left:0;
    top:0;
    width:100%;
    position:fixed;
    display:inline;
    text-align:center;
    font-size:large;
}
#header > a{
    color: inherit;
    text-decoration: inherit;
}
.odd{
    width:20%;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    background-color:#fccf23;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.even{
    width:20%;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    background-color: #d6d6d6;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title{
    width:100%;
    align-content:center;
    height:100px;
    line-height:60px;
    background-color: #461d7c;
    color: #fdd023;
    font-size:xx-large;
}
/*---------------------*/
#main-content{
    margin-top:110px;
    padding:8px;
    background-color: #d9d9d9;
    min-height: 30px;
}
#main-content>h1{
    margin:0px;
    text-align: center;
}
.grid-container {
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:20px;
    row-gap:20px;
    justify-content: center;
}
.grid-item {
    width:30%;
    min-width: 200px;
    max-width:300px;
    height:150px;
    padding:5px;
    border-style:solid;
    border-radius: 1px;
    border-color: black;
    background-color: #c0c0c0;
    /* margin-left:30px;
    margin-right:30px; */
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.grid-item a {
    font-size:x-large;
    margin-bottom:70px;
}
.grid-item img {
    width:70px;
    height:70px;
    margin:0px;
    float:left;
    padding-right:5px;
}
.grid-item p {
    float:left;
    margin:0px;
}
/*---------------------*/
#footer{
    margin-top:10px;
    background-color: #461d7c;
    height:140px;
    width:100%;
    position:relative;
    color:#d9d9d9;
}
/*--------------------*/
.game{
    /* margin-left: auto;
    margin-right: auto; */
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 800px;
    background-color: black;
    padding: 30px;
}

textarea{
    background-color: whitesmoke;
    color:black;
}

button{
    color: black;
    background-color: #d1dede;

}
#root-comment{
    border:none;
    margin-left:0px;
}
.comment{
    /*margin-top:10px;
    margin-bottom:10px;*/
    margin-left:20px;
    padding:2px;
    border-left-color: #909090;
    border-left-style:solid;
    /*max-width: 50%;*/
    background-color: #d7d7d7;
}
.comment > h3{
    margin:0px;
}
.comment > p{
    font-family:'Arial Narrow', Arial, sans-serif
}
